.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroundColor);
  z-index: 10;
}

.Modal_content {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.Modal_titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Modal_title {
  font-size: 24px;
}

.Modal_closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--backgroundColor);
  border: none;
  margin: 0;
  padding: 0 8px;
  cursor: pointer;
}

.Modal_closeButton:hover {
  opacity: 80%;
}

.Modal_closeSVG {
  width: 32px;
  height: 32px;
  stroke: var(--fontColor);
  background-color: var(--backgroundColor);
}

.Modal_iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.Modal p {
  font-size: 24px;
}

.Modal a {
  color: var(--fontColor);
  font-weight: bold;
  cursor: pointer;
}

.Modal a:hover {
  color: var(--fontColorDarker);
}

.Modal a:visited {
  color: var(--fontColorDark);
}

@media screen and (min-width: 481px) and (max-width: 780px) {
  .Modal_title,
  .Modal p {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .Modal_title,
  .Modal p {
    font-size: 12px;
  }
}
