body {
  background-color: var(--backgroundColor);
  color: var(--fontColor);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  max-width: 680px;
  margin: 0 auto;
  padding: 12px;
}

h1 {
  text-align: left;
  font-size: 48px;
  text-transform: uppercase;
  margin: 16px 0;
}

.doorContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 18px;
}

footer {
  padding-top: 10px;
}

@media screen and (min-width: 481px) and (max-width: 780px) {
  h1 {
    font-size: 38px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 24px;
    margin: 16px 0;
  }
}
